<div class="container col-md-6">
  <table>
    <thead>
      <tr>
        <th>Employees</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Qualification</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.dateOfBirth }}</td>
        <td>{{ employee.qualification }}</td>
        <td>{{ employee.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>  
</div>